<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% block head %}{% endblock %}
</head>
<body>
    <div>
        <a href="{{url_for('catalog')}}"><h1>Catalog App</h1></a>
        {% if 'username' not in session %}
        <a href="{{url_for('showLogin')}}"><div>Sign in</div></a>
        {% else %}
        <a href="{{url_for('gdisconnect')}}"><div>Sign out</div></a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>