{% extends "baselayout.html" %}
{% block title %} Catalog App {% endblock %}
{% block content %}
	<div>
		<div>
			<h2>Categories</h2>
			<ul>
				{% for c in categories %}
				<li><a href="#">{{c.category.title()}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<div>
				<h2>Latest Items</h2>
				<div><a href="#">Add Item</a></div>	
			</div>
			<div>
				<ul>
					{% for i in items %}
					<li><a href="{{url_for('itemInfo', category=i.category, item=i)}}">{{i.name.title()}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}