{% extends "baselayout.html" %}
{% block title %} Catalog App {% endblock %}
{% block content %}
	<div>
		<div>
			<h2>Categories</h2>
			<ul>
				<li><a href="#">Basketball</a></li>
				<li><a href="#">Soccer</a></li>
				<li><a href="#">Tennis</a></li>
				<li><a href="#">Rugby</a></li>
				<li><a href="#">Swimming</a></li>
				<li><a href="#">Snowboarding</a></li>
			</ul>
		</div>
		<div>
			<div>
				<h2>Latest Items</h2>
				<div><a href="#">Add Item</a></div>	
			</div>
			<div>
				<ul>
					<li><a href="#">NBA Basketball</a></li>
					<li><a href="#">Basketball Shoes</a></li>
					<li><a href="#">Shin guards</a></li>
					<li><a href="#">Tennis racket</a></li>
					<li><a href="#">Rugby ball</a></li>
					<li><a href="#">Swimming goggles</a></li>
					<li><a href="#">Endeavour Snowboard</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
{% endblock %}