{% extends "baselayout.html" %}
{% block title %}  {% endblock %}
{% block content %}
	<div>
		<div>
			<h2>Categories</h2>
			<ul>
				<li>Basketball</li>
				<li>Soccer</li>
				<li>Tennis</li>
				<li>Rugby</li>
				<li>Swimming</li>
				<li>Snowboarding</li>
			</ul>
		</div>
		<div>
			<div>
				<h2>Latest Items</h2>
				<div>Add Item</div>	
			</div>
			<div>
				<ul>
					<li>NBA Basketball</li>
					<li>Basketball Shoes</li>
					<li>Shin guards</li>
					<li>Tennis racket</li>
					<li>Rugby ball</li>
					<li>Swimming goggles</li>
					<li>Endeavour Snowboard</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
{% endblock %}