{% extends "baselayout.html" %}
{% block title %} Category {% endblock %}
{% block content %}
	<div>
		<div>
			<h2>Categories</h2>
			<ul>
				{% for i in items_grouped_by_category %}
				<li><a href="categoryList, category=i.category">{{i.category.title()}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div>
			<div>
				<h2>{{category.title()}}</h2>
				<div><a href="{{url_for('newItem')}}">Add Item</a></div>
			</div>
			<div>
				<ul>
					{% for i in items %}
					<li><a href="{{url_for('itemInfo', category=i.category, item_name=i.name, item_id=i.id)}}">{{i.name.title()}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div>
			<div><a href="{{url_for('catalog')}}">back</a></div>
		</div>
	</div>
{% endblock %}