{% extends "baselayout.html" %}
{% block title %} Category {% endblock %}
{% block content %}
	<div>
		<div>
			<h2>Categories</h2>
			<ul>
				<li>Basketball</li>
				<li>Soccer</li>
				<li>Tennis</li>
				<li>Rugby</li>
				<li>Swimming</li>
				<li>Snowboarding</li>
			</ul>
		</div>
		<div>
			<div>
				<h2>Category Selected</h2>
				<div><a href="#">Add Item</a></div>	
			</div>
			<div>
				<ul>
					<li>NBA Basketball</li>
					<li>Basketball Shoes</li>
					<li>Jersey</li>
					<li>socks</li>
					<li>ankle brace</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}