{% extends "baselayout.html" %}
{% block title %} Delete Catalog Item {% endblock %}
{% block content %}
    <div>
        <h2>Delete Item</h2>
        <form action="{{url_for('deleteItem', item_name=item.name, item_id=item.id)}}" method="post">
            <div>
                Are you sure you want to delete {{item.name}}?
            </div>
            <div><input type="submit" name="Submit"></div>
        </form>
        <div>
            <div><a href="{{url_for('itemInfo', category=item.category, item_name=item.name, item_id=item.id)}}">Cancel</a></div>
        </div>
    </div>
{% endblock %}