{% extends "baselayout.html" %}
{% block title %} Login - Catalog App {% endblock %}
{% block head %}
<!-- Meta tags used with g-signin2
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1005629537182-3f341slqironilqum4cbumhj97o5f9c1.apps.googleusercontent.com"> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
{% endblock %}
{% block content %}
    <div>
        <h2>Login Page</h2>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div id="signinButton">
            <!-- data-onsuccess="onSignIn" and class="g-signin2" used for g-signin2 -->
            <span class="g-signin"
                data-theme="dark"
                data-scope="openid email"
                data-clientid="1005629537182-3f341slqironilqum4cbumhj97o5f9c1.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
            </span>
        </div>
        <div id="result"></div>
        <div>
            <div><a href="{{url_for('catalog')}}">homepage</a></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button once the user is authorized
                $('#signinButton').attr('style', 'display: none');
                // Send the one-time use code to the server, if the server responds, write a 'login successful' message to page and then redirect to the main page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authResult['code'],
                    success: function(result) {
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/catalog";
                            }, 4000);
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html('Failed to make a server side call. Check your configuration and console.');
                        }
                    }
                })
            }
        };
    </script>
{% endblock %}