{% extends "baselayout.html" %}
{% block title %} Login - Catalog App {% endblock %}
{% block head %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="469015793642-ark5nuol7c21nkg06ao3e6kjobl09ab1.apps.googleusercontent.com">
{% endblock %}
{% block content %}
    <div>
        <h2>Login Page</h2>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div id="result"></div>
        <div id="signinButton" 
        class="g-signin2"
        data-onsuccess="onSignIn"
        data-theme="dark"
        data-scope="openid"
        data-clientid="469015793642-ark5nuol7c21nkg06ao3e6kjobl09ab1.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"></div>
        <div>
            <div><a href="{{url_for('catalog')}}">homepage</a></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log('Full Name: ' + profile.getName());
            console.log('Given Name: ' + profile.getGivenName());
            console.log('Family Name: ' + profile.getFamilyName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        };

        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button once the user is authorized
                $('#signinButton').attr('style', 'display: none');
                // Send the one-time use code to the server, if the server responds, write a 'login successful' message to page and then redirect to the main page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    data: authresult['code'],
                    success: function(result) {
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/restaurant";
                            }, 4000);
                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html('Failed to make a server side call. Check your configuration and console.');
                        }
                    }
                })
            }
        };
    </script>
{% endblock %}