{% extends "baselayout.html" %}
{% block title %} Login - Catalog App {% endblock %}
{% block content %}
    <div>
        <h2>Login Page</h2>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li><strong>{{message}}</strong></li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <div>
            <div><a href="{{url_for('catalog')}}">homepage</a></div>
        </div>
    </div>
{% endblock %}